@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    background-color: #f4faff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    width: 100%;
    margin: 0;
    font-size: 1.6em;
    background-color: #cc1335;
}

.logo {
    margin: 25px 600px 0px 0px;
    display: flex;
    align-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: relative;
}

.menu-links {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu-links li:hover {
    background-color: #ff1642;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav li {
    list-style: none;
    padding: 25px 25px;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    width: 100%;
    padding: 0;
    position: absolute;
    background-color: #ff1642;
    border-radius: 0px 0px 4px 4px;
    font-size: 0.75em;
    text-align: center;
    left: 0px;
    top: 100%;
    border: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

.dropdown-content li {
    padding: 10px;
    border-bottom: none;
    border-radius: inherit;
    z-index: inherit;
}

.dropdown-content li:hover {
    background-color: #cc1335;   
}

.dropdown:hover .dropdown-content {
    opacity: 100;
}

.donut-card {
    margin-right: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    float: right;
    max-width: 45vw;
    gap: 50px;
}

.donut-card img {
    width: 100%;
    border: 4px solid #cc1335;
    border-radius: 3px;
}

section {
    font-size: 1em;
    position: relative;
    text-align: justify;
    width: 45%;
    margin: 30px;
}

section > * {
    margin-top: 2em;
}

footer {
    width: 100%;
    margin: 0;
    font-size: 1.3em;
    background-color: #cc1335;
    color: #fabbbb;
}

.footer-links {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer li {
    list-style: none;
    padding: 20px 20px;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}